/*Centrar imágen producto*/
#imgProducto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details{
    display: flex;
}

/*Disminuir tamaño imágen*/
.card-img-top{
    width: 40%;
}

#cantidad{
    padding-left: 5px;
    padding-top: 5px;
    font-size: small;
}


#search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50em;
    padding-bottom: 30px;
}


#categories{
    padding-bottom: 30px;
}

.filtro{
    display: none;
}