/*Centrar imágen producto*/
#imgProducto{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Disminuir tamaño imágen*/
.card-img-top{
    width: 40%;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50em;
    padding-bottom: 30px;
}


#categories{
    padding-bottom: 30px;
}

.filtro{
    display: none;
}